name: Bot Final SystemaTrader

on:
  schedule:
    - cron: '0 14 * * 1-5'
    - cron: '0 17 * * 1-5'
    - cron: '30 20 * * 1-5'
  workflow_dispatch:

jobs:
  ejecutar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Python Setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Instalar Dependencias
        run: |
          pip install "numpy<2.0.0"
          pip install pandas==1.3.5
          pip install yfinance requests
          pip install pandas_ta

      - name: Correr Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python alerta_bot.py
