name: Bot Macro SLY V48

on:
  schedule:
    - cron: '30 16 * * *'
    - cron: '30 21 * * *'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "numpy<2.0"
          pip install "pandas<2.1.0"
          pip install yfinance requests
          pip install pandas-ta
          # Hemos anclado Numpy y Pandas a versiones estables para Trading

      - name: Run Macro Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python macro_sly_bot.py
